<div class="cars-container">
   <h1>Our Cars</h1>
  <div class="car-grid">
    {{#each cars}}
      <div class="ocar" >
          <img src={{image}} alt="image">
          <div>{{brand}}</div>
          <div>{{MODEL}} </div>
          <div>{{doors}} </div>
          <div>{{type}}</div>
          <div>{{seats}} </div>
          <div>{{transmission}}</div>
      </div>   
    {{/each}}
  </div>
</div>
<style>
  .ocar{
    display:flex;
    background-color: grey;
  }
</style>